<!DOCTYPE configuration>

<configuration>
    <contextName>logback</contextName>
    <jmxConfigurator/>

    <!--<appender name="console" class="ch.qos.logback.core.ConsoleAppender">-->
        <!--&lt;!&ndash;<layout class="ch.qos.logback.classic.PatternLayout">&ndash;&gt;-->
            <!--&lt;!&ndash;<pattern>&ndash;&gt;-->
                <!--&lt;!&ndash;%d - %msg%n&ndash;&gt;-->
            <!--&lt;!&ndash;</pattern>&ndash;&gt;-->
        <!--&lt;!&ndash;</layout>&ndash;&gt;-->
    <!--</appender>-->

    <appender name="gelf" class="de.siegmar.logbackgelf.GelfUdpAppender">
        <graylogHost>192.168.99.108</graylogHost>
        <graylogPort>12201</graylogPort>
        <maxChunkSize>508</maxChunkSize>
        <useCompression>true</useCompression>
        <encoder class="de.siegmar.logbackgelf.GelfEncoder">
            <!--<originHost>localhost</originHost>-->
            <includeRawMessage>true</includeRawMessage>
            <includeMarker>true</includeMarker>
            <includeMdcData>true</includeMdcData>
            <includeCallerData>true</includeCallerData>
            <includeRootCauseData>true</includeRootCauseData>
            <includeLevelName>true</includeLevelName>
            <!--<shortPatternLayout class="ch.qos.logback.classic.PatternLayout">-->
                <!--<pattern>%m%nopex</pattern>-->
            <!--</shortPatternLayout>-->
            <!--<fullPatternLayout class="ch.qos.logback.classic.PatternLayout">-->
                <!--<pattern>%m%n</pattern>-->
            <!--</fullPatternLayout>-->
            <numbersAsString>false</numbersAsString>
            <staticField>app_name:sc-gateway</staticField>
            <staticField>os_arch:${os.arch}</staticField>
            <staticField>os_name:${os.name}</staticField>
            <staticField>os_version:${os.version}</staticField>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="gelf" />
        <!--<appender-ref ref="console" />-->
    </root>

</configuration>